* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   background-color: aqua;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
button {
   padding: 40px;
   transition: all 500ms ease-in-out;
   border: 5px solid rebeccapurple;
   border-radius: 100px;
   background-color: rebeccapurple;
   color: white;
   font-size: 5rem;
   font-weight: 700;
   cursor: pointer;
}
button:hover {
   color: rebeccapurple;
   background-color: white;
}
